{%- if section.settings.background_type == 'boxed' -%}
  {%- assign is_boxed = true -%}
{%- else -%}
  {%- assign is_boxed = false -%}
{%- endif -%}

<style>
  #shopify-section-{{ section.id }} {
    --progress-bar-color: {{ section.blocks.first.settings.text_color.red }}, {{ section.blocks.first.settings.text_color.green }}, {{ section.blocks.first.settings.text_color.blue }};
    --section-autoplay-duration: {% if section.settings.autoplay %}{{ section.settings.cycle_speed }}s{% else %}0s{% endif %};
    --section-animation-play-state: paused;
    background-color: {{ section.settings.background }}; /* Allows to set a placeholder color while loading */
  }

  {%- for block in section.blocks -%}
    {% assign dropShadowOpacity = block.settings.heading_drop_shadow_opacity | divided_by: 100.0 | round: 2 %}

    {% capture dropShadowColor %}
      {%- render 'color_to_rgba' with color: block.settings.heading_drop_shadow_color, opacity: dropShadowOpacity -%}
    {% endcapture %}

    #block-{{ section.id }}-{{ block.id }} {
      {%- if block.settings.text_color == 'rgba(0,0,0,0)' -%}
        {%- assign subheading_color = settings.subheading_color -%}
        {%- assign text_color = settings.text_color -%}
      {%- else -%}
        {%- assign subheading_color = block.settings.subheading_color -%}
        {%- assign text_color = block.settings.text_color -%}
      {%- endif -%}
      
      --heading-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
      --subheading-color: {{ subheading_color.red }}, {{ subheading_color.green }}, {{ subheading_color.blue }};
      --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
      --primary-button-background: {{ block.settings.button_background.red }}, {{ block.settings.button_background.green }}, {{ block.settings.button_background.blue }};
      --primary-button-text-color: {{ block.settings.button_text_color.red }}, {{ block.settings.button_text_color.green }}, {{ block.settings.button_text_color.blue }};

      --section-blocks-overlay-color: {{ block.settings.overlay_color.red }}, {{ block.settings.overlay_color.green }}, {{ block.settings.overlay_color.blue }};
      --section-blocks-overlay-opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
      --heading-font-opacity: {{ block.settings.heading_font_opacity | divided_by: 100.0 }};

      /* button--outline styles */
      --background: transparent;
      --border-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
      --root-text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    }

    #shopify-section-{{ section.id }} .section {
      padding: 0;
    }

    #block-{{ section.id }}-{{ block.id }} {
      padding: 15px 0;

      {%- if block.settings.remove_bottom_spacing -%}
        padding-bottom: 0;
      {%- endif -%}
  
      {%- if block.settings.remove_top_spacing -%}
        padding-top: 0;
      {%- endif -%}
    }

    @media screen and (min-width: 741px) {
      #block-{{ section.id }}-{{ block.id }} {
        padding: 40px 0;

        {%- if block.settings.remove_bottom_spacing -%}
          padding-bottom: 0;
        {%- endif -%}
    
        {%- if block.settings.remove_top_spacing -%}
          padding-top: 0;
        {%- endif -%}
      }
    }

    #block-{{ section.id }}-{{ block.id }} .svg-overlay {
      left: 50%;
      position: absolute;
      top: 50%;
      width: 75%;
      height: auto;
      transform: translate(-50%, -50%);
  }
  
  #block-{{ section.id }}-{{ block.id }} .svg-overlay svg {
    width: 100%;
  }

  {%- endfor -%}
</style>

<section aria-label="carousel-slideshow" class="section section--flush">
  <slide-show
    reveal-on-scroll
    {% if section.settings.autoplay %}
      auto-play
    {% endif %}
    transition-type="{{ section.settings.transition_type | escape }}"
    class="slideshow slideshow--{{ section.settings.section_height }}{% if is_boxed %} container{% endif %}"
  >
    {%- if section.blocks.size > 1 -%}
      <p class="visually-hidden">This is a carousel with auto-rotating slides. Jump to a slide with the slide indicator lines.</p>
      {% else %}
      <p class="visually-hidden">This is large image panel with a text overlay.</p>
    {% endif %}
    
    <div class="slideshow__slide-list">
      {%- for block in section.blocks -%}
        {%- comment -%}
          ------------------------------------------------------------------------------------------------------------------
          IMAGE PART
          ------------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- assign image = block.settings.image -%}
        {%- assign split_image = block.settings.split_image -%}
        {%- assign mobile_image = block.settings.mobile_image -%}

        {%- assign image_aspect_ratio = image.aspect_ratio | default: 2.63 -%}

        {%- comment -%}
          If the image is split and that we want to preserve the ratio, we have to multiply the ratio by 2 (as each image
          only account for half the screen size)
        {%- endcomment -%}

        {%- if image != blank and split_image != blank and section.settings.section_height == 'auto' -%}
          {%- assign image_aspect_ratio = image_aspect_ratio | times: 2.0 -%}
        {%- endif -%}

        {%- if forloop.index > 2 -%}
          {%- assign loading_attribute_value = 'lazy' -%}
          {%- assign preload_image = false -%}
        {%- else -%}
          {%- assign loading_attribute_value = 'eager' -%}
          {%- assign preload_image = true -%}
        {%- endif -%}

        {%- capture slide_content -%}
          <div class="slideshow__image-wrapper {% if mobile_image != blank %}hidden-pocket{% endif %}" {% if section.settings.transition_type == 'reveal' %}reveal-visibility{% endif %}>
            {%- if image != blank -%}
              {%- capture sizes_attributes -%}{% if split_image != blank %}(min-width: 1000px) 50vw{% else %}100vw{% endif %}{%- endcapture -%}
              {{- image | image_url: width: 3000 | image_tag: loading: loading_attribute_value, draggable: false, class: 'slideshow__image', sizes: sizes_attributes, widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000', preload: preload_image -}}
            {%- else -%}
              {% capture image_name %}lifestyle-{% cycle '1', '2' %}{%- endcapture -%}
              {{- image_name | placeholder_svg_tag: 'slideshow__image slideshow__image--placeholder' -}}
            {%- endif -%}
          </div>

          {%- comment -%}If a second image (split image) is uploaded, we use it. Note that we use the same ratio as the first image (to have equal column height){% endcomment %}
          {%- if image != blank and split_image != blank -%}
            <div class="slideshow__image-wrapper slideshow__image-wrapper--secondary hidden-pocket" {% if section.settings.transition_type == 'reveal' %}reveal-visibility{% endif %}>
              {{- split_image | image_url: width: 3000 | image_tag: loading: loading_attribute_value, draggable: false, class: 'slideshow__image', sizes: '50vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000', preload: preload_image -}}
            </div>
          {%- endif -%}

          {%- if mobile_image != blank -%}
            <div class="slideshow__image-wrapper hidden-lap-and-up" {% if section.settings.transition_type == 'reveal' %}reveal-visibility{% endif %}>
              {{- mobile_image | image_url: width: 3000 | image_tag: loading: loading_attribute_value, draggable: false, class: 'slideshow__image', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000', preload: preload_image -}}
            </div>
          {%- endif -%}

          {%- comment -%}
          ----------------------------------------------------------------------------------------------------------------
          CONTENT PART
          ----------------------------------------------------------------------------------------------------------------
          {%- endcomment -%}

          {%- capture section_content -%}
          {%- if block.settings.title != blank -%}
            <h1 
              class="heading h3{% if block.settings.title_mobile %} hidden-pocket{% endif %}"
            >
              <span class="heading-animate" {% if section.settings.transition_type != 'fade' %}reveal{% endif %}>
                {{ block.settings.title | newline_to_br }}
              </span>
            </h1>
          {%- endif -%}

          {%- if block.settings.title_mobile -%}
            <h1 class="heading h3 hidden-lap-and-up">
              <span class="heading-animate" {% if section.settings.transition_type != 'fade' %}reveal{% endif %}>
                {% if block.settings.title_mobile == blank %}
                  {{ block.settings.title | newline_to_br }}
                  {% else %}
                  {{ block.settings.title_mobile | newline_to_br }}
                {% endif %}
              </span>
            </h1>
          {%- endif -%} 

            {%- if block.settings.subheading != blank -%}
              <h2 class="subheading{% if block.settings.subheading_mobile %} hidden-pocket{% endif %}">
                <span class="heading-animate" {% if section.settings.transition_type != 'fade' %}reveal{% endif %}>
                  {{ block.settings.subheading | escape | newline_to_br }}
                </span>
              </h2>
            {%- endif -%}

            {%- if block.settings.subheading_mobile -%}
              <h2 class="subheading hidden-lap-and-up">
                <span class="heading-animate" reveal>
                  {% if block.settings.subheading_mobile == blank %}
                    {{ block.settings.subheading | escape | newline_to_br }}
                    {% else %}
                    {{ block.settings.subheading_mobile | escape | newline_to_br }}
                  {% endif %}
                </span>
              </h2>
            {%- endif -%}
          {%- endcapture -%}

          {%- if block.settings.svg != blank -%}
            <h1 class="visually-hidden">{{ block.settings.heading_text }}</h1>
            <div aria-hidden="true" class="svg-overlay">
              {{ block.settings.svg }}
            </div>
          {%- endif -%}

          {%- if section_content != blank -%}
            <div {% if block.settings.max_width_container == true %} class="container"{% else %} style="width: 100%;"{% endif %}>
                {%- capture buttons -%}
                {%- if block.settings.button_1_text != blank -%}
                  <a href="{{ block.settings.button_1_link }}" class="button button--small button--outline">{{ block.settings.button_1_text | escape }}</a>
                {%- endif -%}
  
                {%- if block.settings.button_2_text != blank -%}
                  <a href="{{ block.settings.button_2_link }}" class="button button--small button--outline">{{ block.settings.button_2_text | escape }}</a>
                {%- endif -%}
              {%- endcapture -%}
  
              {%- if block.settings.button_1_text != blank and block.settings.button_2_text != blank -%}
                <div class="button-group" {% if section.settings.transition_type != 'fade' %}reveal{% endif %}>
                  <div class="button-group__wrapper slideshow__button">
                    {{- buttons -}}
                  </div>
                </div>
              {%- elsif buttons != blank -%}
                <div class="button-wrapper slideshow__button" {% if section.settings.transition_type != 'fade' %}reveal{% endif %}>
                  {{- buttons -}}
                </div>
              {%- endif -%}

            </div>
          {%- endif -%}
        {%- endcapture -%}

        {%- comment -%}If only the button 1 link is filled, then we make the whole slide clickable{%- endcomment -%}

        {%- capture slide_attributes -%}
          {{ block.shopify_attributes }}
          id="block-{{ section.id }}-{{ block.id }}"
          class="slideshow__slide {% if split_image != blank %}slideshow__slide--split{% endif %} {% if section.settings.transition_type == 'sweep' %}slideshow__slide--sweep{% endif %}"
          {% unless forloop.first %}hidden{% endunless %}
          {% if section.settings.section_height == 'auto' %}
            style="--image-aspect-ratio: {{ image_aspect_ratio }}; --mobile-image-aspect-ratio: {{ mobile_image.aspect_ratio | default: image_aspect_ratio | default: 1 }};"
          {% endif %}
        {%- endcapture -%}

        <slide-show-item
          {% if section.settings.transition_type != 'reveal' %}
            reveal-visibility
          {% endif %}
          {{ slide_attributes }}
        >
          {%- if block.settings.panel_link != blank
          -%}
            <a class="slideshow__slide-inner" href="{{ block.settings.panel_link }}">
              {{- slide_content -}}
            </a>
          {%- else -%}
            <div class="slideshow__slide-inner">
              {{- slide_content -}}
            </div>
          {%- endif -%}
        </slide-show-item>
      {%- endfor -%}
    </div>

    {%- if section.blocks.size > 1 -%}
      <page-dots
        {% if section.settings.autoplay %}
          animation-timer
        {% endif %}
        class="slideshow__nav container"
      >
        {%- for block in section.blocks -%}
          <button
            class="slideshow__progress-bar"
            aria-controls="block-{{ section.id }}-{{ block.id }}"
            {% if forloop.first %}
              aria-current="true"
            {% endif %}
          >
            <span class="visually-hidden">{{ 'general.accessibility.go_to_slide' | t: num: forloop.index }}</span>
          </button>
        {%- endfor -%}
      </page-dots>
    {%- endif -%}
  </slide-show>
</section>

{% schema %}
{
  "name": "Slideshow SVG",
  "class": "shopify-section--slideshow",
  "max_blocks": 8,
  "settings": [
    {
      "type": "select",
      "id": "section_height",
      "label": "Section height",
      "options": [
        {
          "value": "auto",
          "label": "Original image ratio"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fit",
          "label": "Fit screen height"
        }
      ],
      "info": "Choose \"Original image ratio\" to not cut images. [Learn more](https://help.shopify.com/en/manual/online-store/images/theme-images#best-practices-for-slideshows-and-full-width-images)",
      "default": "auto"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background",
      "options": [
        {
          "value": "full_width",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "full_width"
    },
    {
      "type": "select",
      "id": "transition_type",
      "label": "Transition type",
      "options": [
        {
          "value": "sweep",
          "label": "Sweep"
        },
        {
          "value": "reveal",
          "label": "Reveal"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "sweep"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 4,
      "max": 20,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "info": "Used while slideshow image is loading",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "info": "2160 x 1080px .jpg recommended, 1080 x 1080px .jpg recommended if split",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "split_image",
          "info": "1080 x 1080px .jpg recommended. Won't show up on mobile.",
          "label": "Split image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "1000 x 1400px .jpg recommended. If none is set, desktop image will be used."
        },
        {
          "type": "header",
          "content": "Text Content"
        },
        {
          "type": "html",
          "id": "svg",
          "label": "SVG Image Overlay"
        },
        {
          "type": "textarea",
          "id": "heading_text",
          "label": "Heading Text (visually hidden for screen readers)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow SVG",
      "blocks": [       
      ]
    }
  ]
}
{% endschema %}
